<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

    <servlet>
        <servlet-name>gestioneUtentiServlet</servlet-name>
        <servlet-class>it.unibo.progettonote.server.GestioneUtentiServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>gestioneUtentiServlet</servlet-name>
        <url-pattern>/progettonote/utenti</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>gestioneNoteServlet</servlet-name>
        <servlet-class>it.unibo.progettonote.server.GestioneNoteServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>gestioneNoteServlet</servlet-name>
        <url-pattern>/progettonote/note</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>gestioneNoteServlet</servlet-name>
    <servlet-class>it.unibo.progettonote.server.GestioneNoteServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>gestioneNoteServlet</servlet-name>
    <url-pattern>/progettonote/gestioneNote</url-pattern>
  </servlet-mapping>
</web-app>